* {
    background-color: rgb(40, 40, 40);
    color: white;
}

    

#msg{
    display: none;
        text-align: center;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}
#mensa{
    display: block;
    height: 100px;
    width: 100%;

}




.content{
max-width: 90%;
display: flex;
margin:auto;
justify-content: center;
gap: 1%;
align-items: center;

   
}

.boxes{
    color: rgba(0, 0, 0, 0);
-webkit-text-stroke-width: 0.5px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 40pt;
text-align: center;
animation-fill-mode: both;
width: 5%;
height: 70px;
background-color: rgb(56, 55, 55);
border-bottom: 1px white solid;

}




#content2{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    height: 300px;
    border-bottom: 1px white solid;
    
    
    
}
#item1{
    height: 100%;
    width: 100%;
    max-width: 30%;
    display: flex;
    
    justify-content: center;
    align-items: center;
   
    
}
#item2{
    
    height: 100%;
    width:  100%;
    max-width: 40%;
    align-self: center;
   
}


#item3{
    height: 100%;
    width: 100%;   
        

    
    max-width: 30%;
    
    
}

#letterbox{
text-transform: uppercase;
text-align: center;
font-size: 50pt;
margin: auto 15px;
width: 13%;
height: 13%;
border: 1px white solid;
border-radius: 25% 10%;

}
#wordbox{
text-transform: uppercase;
font-size: 18pt;
width: 65%;
height: 5%;
border: 1px white solid;
border-radius: 5px;
text-align: center;



}

#go1{
        height: 50px;
    width: 50px;
    border-radius: 15px;
    
}
#btnbox1{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    
}
#go2{
    display: block;
    height: 30px;
    width: 35px;
    margin-left: 2%;
    border-radius: 10px;
    
}
#btnbox2{
    display: flex;
    margin: 10px;
    justify-content: center;
}
#reset{
justify-content: center;
width: 40px;
height: 40px;
margin-left: 360px;
margin-top: 20px;
}







#historicoLetras{
    border: 1px white dashed;
    width: 80%;
    height: 75%;
   
    display: flex;
    
    flex-wrap: wrap;
    margin: 8% auto;
       
    
    
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    
    margin-top: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.k{
    width: 50px;
    height: 50px;
    word-break: break-all;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
font-size: 28pt;
}
#reset{
    border-radius: 8px;
    width: 8%;
    height: 12%;
    display: flex;
    margin: 8% auto auto auto;
    text-align: center;
    align-items: center;
    

}

#img2{
    display: flex;
    align-items: center;
    justify-items: center;
height: 20px;
width: 20px;
color: inherit;
}
@keyframes glow {
0% {background-color: rgb(56, 55, 55); }
10% {background-color: rgb(255, 254, 244); box-shadow: 0px 0px 5px white; outline: none;}
90% {background-color: rgb(255, 254, 244); box-shadow: 0px 0px 5px white; outline: none;}
100% {background-color: rgb(56, 55, 55);-webkit-text-stroke-color: white;};


}
@keyframes glow1 {
    0% {border-color: rgb(56, 55, 55); }
    10% {border-color: rgb(255, 254, 244); box-shadow: 0px 0px 5px white; outline: none;}
    90% {border-color: rgb(255, 254, 244); box-shadow: 0px 0px 5px white; outline: none;}
    100% {border-color: rgb(253, 253, 253);-webkit-text-stroke-color: white;};
    
    
    }
#animacao{
    color: white;
    
width: 90%;
height: 90%;
position: relative;
 
}

.desenho{
    width: 30%;
    height: auto;
    

}
.a0{
    position: absolute;
    }
    .a1{
        position:absolute;
        display: none;
    }
    .a2{
        position:absolute;
        display: none;
    }
    .a3{
        position:absolute;
        display: none;
    }
    .a4{
        position:absolute;
        display: none;
    }
    .a5{
        position:absolute;
        display: none;
    }
    .a6{
        position:absolute;
        display: none;
    }
